
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: sans-serif;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}

.header-title {
  margin: 8px 0;
  padding: 15px;
  font-family: Poppins;
  font-size: 88px;
  background-color: #fcce00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}

.header-subtitle {
  margin: 8px 0;
  padding: 15px;
  font-family: Poppins;
  font-size: 38px;
  background-color: #ff6b00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}

.content-title {
  font-family: Poppins;
  font-weight: 900;
  text-align: center;
  font-size: 40px;
  margin: 64px 56px;
}

.together {
font-size: 24px;
margin: 0 31px 34px 0;
font-family: Poppins;
text-align: center;
font-weight: 600;
}

.header-stripe--red {
  height: 32px;
  background-color: #e02020bd;
}

.header-stripe--purple {
  height: 16px;
  background-color: #b620e0;
  margin: 8px 0;
}

.header-stripe--blue {
  height: 8px;
  background-color: #6236ff;
  margin: 8px 0;
}


.colonnes {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.bloc {
flex-basis: 0;
flex-grow: 1;
}

.bloc2 {
  background-image: url(../img/bg-yellow.svg);

}

.ordi1 {
  width: 487px;
  height: 471px;
  margin-top: 40px;
  margin-left: 223px;
  display: block;
  mix-blend-mode: darken;
  margin-left: auto;
}

.paragraphe {

    text-align: justify;
    margin-left:48px;
    margin-right: 32px;
    margin-bottom: 30px;
    font-family: Poppins;
    font-size: 16px;
    color: #231f20;
  }

.bouton-1 {
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px;
  color: #fcce00;
  font-size: 20px;
  font-weight: 600;
  margin-left: 503px;
  margin-top: 30px;
  margin-right: 32px;
  margin-bottom: 86px;
  text-align: right;
}

.bloc3 {
display: flex;
justify-content: space-around;
align-items: flex-start;
text-align: justify;
margin-top: 64px;
margin-bottom: 64px;
}

.colonnes2{
  flex-basis: 320px;
  flex-grow: 1;
}

.colonnebackground2 {
    background-image: url(../img/bg-orange.png);
    text-align: right;
  }

.ordinateur-2 {
  width: 378px;
  height: 486px;
  object-fit: contain;
  display: block;
  margin-right: auto;
  margin-left: auto;
  mix-blend-mode: darken
}

.titre2 {
  font-size: 24px;
  margin: 0 31px 34px 0;
  font-family: Poppins;
  text-align: center;
  font-weight: 600;
  }

.texte2 {
  text-align: justify;
  margin-left:48px;
  margin-right: 32px;
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 16px;
  color: #231f20;
}

.bouton-2 {
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px;
  color: #ff6b00;
  font-size: 20px;
  font-weight: 600;
  margin-left: 503px;
  margin-top: 32px;
  margin-right: 32px;
  margin-bottom: 86px;
  text-align: right;
}

.advance {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: black;
  letter-spacing: normal;
  text-align: center;
}

.bloc3 {
display: flex;
justify-content: space-around;
align-items: stretch;
text-align: justify;
}

.colonnebackground3 {
    background-image: url(../img/bg-red.png);
    text-align: left;
  }

  .ordinateur-3 {
    width: 745px;
    height: 576px;
    object-fit: contain;
    opacity: 0.9;
    mix-blend-mode: darken;
  }

  .titre4{
  width: 640px;
  height: 45px;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: Poppins;
  padding-left: 60px;
  margin-top: 64px;
}

  .bouton-3 {
    padding: 10px 36px;
    border-radius: 15px;
    border: solid 4px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 239px;
    margin-right: 32px;
    margin-bottom: 86px;
    text-align: right;
  }

  .texte3{
  font-size: 20px;
  margin-bottom: 32px;
  padding-left: 60px;
  color: #ffffff;
}

.colonnebackground4 {
    background-image: url(../img/bg-violet.png);
    text-align: left;
  }

  .colonnebackground5 {
      background-image: url(../img/bg-blue.png);
      text-align: left;
    }



h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/
